<div class="container mt-4">

  <!-- header -->
  <div class="jumbotron py-4">
    <h1 class="display-5">Carrier of Hope</h1>
    <p class="lead mb-0">A place to find hope in a world so devoid of it</p>
  </div>

  <!-- navigation tabs -->
  <ul class="nav nav-tabs">
   <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/angular" routerLinkActive="active">Spread Hope</a>
    </li>--> <!-- standard link -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/auth" routerLinkActive="active">Login</a>
    </li>
   <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/security" routerLinkActive="active">Security?</a>
    </li> -->
    <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>

    <li class="nav-item">
      <a class="nav-link" routerLink="/account" routerLinkActive="active">Your Account</a>
    </li>
  </ul>



  <!-- news area -->
  <div class="mt-4">
    <router-outlet></router-outlet>
  </div>
</div>
