.edit-form
  transition:.3s
  overflow:hidden
  width:0
  opacity:0
  padding-right: 1em

.edit-form.active
  width:250px
  opacity:1

.post-bg
  background: rgb(255,0,1)
  background: linear-gradient(90deg, rgba(105,0,0,1) 0%, rgba(255,145,0,1) 100%)
  color: white
  opacity: 0.9




