<div *ngIf="!isLoggedIn">
 <!-- <h4 class="title">Login</h4>-->

  <div class="border rounded shadow post-bg">
    <div class="card-body">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="useBasicAuth($event)" [class.active]="isBasicAuth()">Basic</a>
        </li>

      </ul>
      <hr>
      <wt2-login [authService]="authService" (loggedIn)="load()"></wt2-login>
    </div>
  </div>
</div>

<div *ngIf="isLoggedIn" >

 <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-sm btn-outline-secondary" (click)="logout()">Logout</button>
    </div>
  </div>

  <!-- |||||||||||||||||||||||||||||||||||||||||||||| -->

  <div class="row">
    <div>

    </div>
    <div class="container" style="padding: 0 8em">

      <wt2-create-news (created)="load()"></wt2-create-news>

      <hr style="margin-top:2.5em">

       <wt2-news-list [news]="news" (updated)="load()" (deleted)="load()" ></wt2-news-list>
    </div>
  </div>

</div>

<h5>Carrier of Hope is a community of individuals who are committed to bring hope into the life of others. This hope
shall be directed to those in need of it. Therefore, our plattform requires the users to be signed it. </h5>
